.container {
	container-type: inline-size;
	color: white;
	letter-spacing: 0.048px;
	background: linear-gradient(180deg, #101010 0%, #0b0b0b 100%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 54px;
	position: absolute;
	left: 0;
	right: 0;
	top: 54px;
}

.hide {
	@container (max-width: 900px) {
		display: none;
	}
}

.wide {
	@container (max-width: 720px) {
		display: none;
	}
}

.compact {
	display: none;

	@container (max-width: 720px) {
		display: block;
	}
}

.start-part {
	@container (max-width: 1000px) {
		margin-inline-start: -32px;
	}

	@container (max-width: 450px) {
		margin-inline-start: -62px;
	}
}

.center-part {
	justify-content: space-between;
	align-items: center;
	gap: 12px;
}

.end-part {
	margin-inline-end: 24px;

	> svg {
		vertical-align: middle;
	}
}
